@import '../../styles/shared.scss';

.custom-btn {
  border: none;
  border-radius: $radius-5;
  font-size: medium;
  font-weight: bold;
  padding: $spacing-8 $spacing-12;
  cursor: pointer;

  &.disabled-btn {
    cursor: default;
    background-color: $grey;
  }

  &.solid-btn {
    color: $text-color;
    background-color: $primary;
  }

  &.outline-btn {
    color: $primary;
    background-color: $white;
    border: 1px solid $primary;
  }

  &.link-btn {
    color: $primary;
    background-color: $white;
    border: none;
  }
}