$white: #fff;
$text-color: #2C3E50;
$primary: #FF5733;
$error-color: #FF0000;
$grey: #8c8c8c;
$enabled-ticket: mintcream;
$disabled-ticket: lightpink;
$payed-ticket: lightcoral;
$overlay-color: rgba(50 50 50 / .2);

$spacing-2: 2px;
$spacing-4: 4px;
$spacing-8: 8px;
$spacing-12: 12px;
$spacing-16: 16px;
$spacing-20: 20px;
$spacing-24: 24px;

$radius-5: 5px;
$radius-10: 10px;

$font-family-base: "Nunito";
