@import "../../styles/shared.scss";

.error-modal-container {
  min-width: 200px;
  min-height: 150px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $spacing-24;
  padding: $spacing-20;

  .close-btn {
    position: absolute;
    right: 0;
    top: 0;
  }

  p {
    font-size: large;
  }
}