@import "../../styles/shared.scss";

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $overlay-color;
  display: flex;
  justify-content: center;
  align-items: center;

  .modal-content {
    background: white;
    padding: $spacing-8;
    border-radius: $radius-5;
    max-width: 85%;
  }
}