@import "../../styles/shared.scss";

label.form-input-checkbox {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: $spacing-4;
  margin-bottom: $spacing-16;
  
  &.input-error {
    input {
      border-color: $error-color;
    }
  }

  &.input-disabled {
    div span {
      color: $grey;
    }
  }
  
  div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: $spacing-4;
  }

  input {
    padding: $spacing-4 $spacing-8;
    font-size: large;
    border-radius: $radius-5;
    border: 1px solid $grey;
  }

  .error-message {
    color: $error-color;
    font-size: smaller;
  }
}