@import "../../styles/shared.scss";

.empty-state-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: $spacing-20;

  .empty-state-image {
    width: 200px;
    height: 200px;
  }

  h2 {
    margin-bottom: $spacing-8;
  }

  p {
    margin-top: 0;
  }
}