@import "../../styles/shared.scss";

.create-raffle-container {
  h2 {
    text-align: center;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 600px;
    margin: 0 auto;

    .buttons-section {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      gap: $spacing-16;
    }
  }
}